### Assignment calculator
    - get num1,operator and num2 from user input and print result based on operator

In [1]:
num1=int(input("enter the first number:"))
num2=int(input("enter the second number:"))

operator=input("enter operator (+,-,*,/):")

if operator=="+":
    result=num1+num2

elif operator=="-":
    result=num1-num2

elif operator=="*":
    result=num1*num2

elif operator=="/":
    if num2!=0:
        result=num1/num2 # yaha dry le garda error aauxa 
    else:
        print("Error:Division by zero")

else:
    print("Error:Invalid operator")

print(result)

1.0

#### DRY: DO NOT REPEAT YOURSELF 
    - Similar type ko code laai patak patak repeat nagarne

In [2]:
# Concept of DRY
#Same example but works fine and avoid repeating the code
if operator == "+":
    result = num1 + num2
elif operator == "-":
    result = num1 - num2
elif operator == "*":
    result = num1 * num2
elif operator == "/":
    if num2 != 0:
        result = num1 / num2
    else:
        print("Error: Division by zero")
else:
    print("Error: Invalid operator")

if result is not None:  # Print only if a valid result exists
    print("Result:", result)

Result: 1.0

## Day 2
do something until the condition is met 

While something is True:
print("This is true.)

In [3]:
# Sum of 1st natural numbers

n=int(input("Enter a number:"))
sum=0
i=1

while i<= n:
    sum+=i     #sum=sum+i
    i+=1

print(f"The sum of numbers from 1 to {n} is {sum}")

#For loop kati khera use garne ani while loop kati khera use garne


""" For loop taba use garne jaba define range thaha chha ( number iterations predefined hunchha )
    
    while loop vaneko kati choti run garne thaha xaina vane use garinchha (number of iterations predfined hunnna )

"""

The sum of numbers from 1 to 5 is 15

' For loop taba use garne jaba define range thaha chha ( number iterations predefined hunchha )\n\n    while loop vaneko kati choti run garne thaha xaina vane use garinchha (number of iterations predfined hunnna )\n\n'

Break and Continue

In [4]:
 # break ( loop bahira nikaldinchha)
for num in range (1,11):
    if num==6:
        break # Exit the loop when num is 5
    print (num,end=" ")  # end= " " 1utai line maa print garna bhhanchha

1 2 3 4 5

In [5]:
#continue 
for num in range (1,11):
    if num ==6:
        continue # Skip the iteration when num is 5
    print (num,end=" ")

1 2 3 4 5 7 8 9 10

### Data Structures

List 

Lists are ordered,mutable collections

In [6]:
fruits=["apple","banana","cherry","pineapple"]
print(fruits)

['apple', 'banana', 'cherry', 'pineapple']

In [7]:
vegetables=[]
vegetables.append("carrot")
print(vegetables)

['carrot']

In [8]:
#Mixed data types
mixed_list=[10,"Python",3.234,True] # (integer,string,float,boolean)
print(mixed_list)

[10, 'Python', 3.234, True]

### difference between array and list
### array 
    -same data types
    -fast in comparison to list because of same datatypes
    -used when large datasets

### list
    -different data types
    -slower in comparison to array
    -suitable for small data

In [9]:
# Add an item to the list 

# append
# print(fruits)
# fruits.append("Mango")
# print(fruits)

#extend
# fruits.extend(["cherry","mango"]) # Multiple value append garnu parda extend use garinchha
# print(fruits)

#Insert an item at a specific index
# fruits.insert(1,"grape")
# print(fruits)

In [10]:
# remove last item 

# fruits.pop()
# print(fruits)

#Remove an item
# fruits.remove("banana")
# print(fruits)

In [12]:
# length=len(fruits)
# print(length)
# fruits[2]
# fruits.index('grape')

In [ ]:
# multi-dimensional list
nums=[[1,2,3,4],[4,5,6],[7,8,9,7,6,9]] #2 dimensiona array
# print(len(nums))
print(len(nums[2]))

6

In [ ]:
# Sorth the list 
# fruits.sort()              # Alphabetical order maa 1uta list laai short gardinchha
# print(fruits)

#Descending order
# fruits.sort(reverse=True)
# print(fruits)

['grape', 'cherry', 'apple']

In [ ]:
# Loop through the list 
# for i in range (len(fruits)):
#     print(i)
#     print(f"fruits:{fruits[i]}")

# for fruit in fruits:
#     print(f"fruits:{fruit}")

fruits:grape
fruits:cherry
fruits:apple

### Tuples

Tuples are ordered and immutable collections 

        -They are immutable , making them faster than list 
        -Suitable for data that shouldn't be modified

In [ ]:
#Creating a tuple 
days=("sun","mon","tue","wed","thu","fri","sat") # Predefined data ko case maa tuple use garinxa
print(days)

# # Single-element tuple (needs a comma)
single_day=("sun",)
print(single_day)

# #Accessing elements
print(days[5])

('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat')
('sun',)
fri

### SETS

In [12]:
# CREATING A SET ( SET BHITRA DUPLICATE DATA HUDAINA)

unique_numbers={1,2,3,4,5,5,3,3,9,9,9,9,10,10,10}
print(unique_numbers)  #Removes duplicates


## Creating an empty set
empty_set=set()
empty_list=[]
print(empty_list)

{1, 2, 3, 4, 5, 9, 10}
[]

In [ ]:
# Adding elements 

# empty_set.add(7)
# empty_list.append(7)
# print(empty_set)
# print(empty_list)

# Removing elements
# unique_numbers.remove(3)    #   (remove use garda 3 hunai parxa natra error raise garchha )   
# print(unique_numbers)

# unique_numbers.discard(10) #Does not raise error
# print (unique_numbers)

{1, 2, 3, 4, 5, 9}

### Dictionaries
Dictionaries are mutable collection of key-value pairs

-key:value
-name:raju
-age:25

In [46]:
# Creating a dictionary 





person={"name":"Alice","age":25,"city":"Kathmandu","Religion":"Hindu"}
# print(person)

# #Acessing values
# print(person["Religion"])          # Yo method le vaako key maatra khojchha natra error dinchha
# print(person.get("Level"))  # get le if key chhaina vane none vanera print gardinchha

# #Adding and updating 
# person ["country"]="Nepal"
# person["age"]=26
# print(person)

In [33]:
# #Empty dictionary
# person={}
# print(person)
# person["Name"]="Praneez"
# print(person)

In [ ]:
# Keys
# for key in person.keys():
#     print(key)


# ## Values
# for value in person.values():
#     print(value)

## Key-value pairs

# for key, value in person.items():
#     print (f"{key}:{value}")


#printing key with specific value
# person={'name':'Alice','age':27,'city':'kathmandu','country':'Nepal'}
# for key,value in person.items():
#    if value=="Nepal":
#     print(f"{key}:{value}")
#     break

country:Nepal

In [ ]:
# Making list within dictionary
# students=[
#     {'name':'Alice','age':27,'city':'kathmandu','country':'Nepal'},
#     {'name':'Bob','age':19,'city':'Tokyo','country':'Japan'},
#     {'name':'Peter','age':23,'city':'Newyork','country':'USA'}
#     ]

In [ ]:
# Removing items 
# person.pop("age")
# print(person)

# #Clear dictionary
# person.clear()
# print(person)


# Merging dictionaries
# dict1={"a":1,"b":2}
# dict2={"c":3,"e":4}
# dict1.update(dict2)
# print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'e': 4}

In [ ]:
##Converting list into set 
# nums=[1,2,2,3,5,5]                                                 #list
# unique_numbers=set(nums)                                           #set
# print(nums)
# print(unique_numbers)

# # ##To calculate length
# print(len(nums))

[1, 2, 2, 3, 5, 5]
{1, 2, 3, 5}
6

In [ ]:
## Converting Tuples into list ( Kasto case ma use hunchha vane :jaba kunai datasets tuples ma chha and then tyes laai modify garnu paryo vane )
# values=(1,3)
# list(values)

[1, 3]

In [ ]:
# Use Of Dictionary in Hydrology
import pandas as pd 

# #Define a dictionary contaning river details 

river_details = {
    'Name': ['Ganges', 'Brahmaputra', 'Yamuna', 'Godavari', 'Narmada'],
    'Length (km)': [2525, 3848, 1376, 1465, 1312],
    'Drainage Area (km²)': [1080000, 651334, 366223, 312812, 131200]
}

# # Convert the dictionary into DataFrame 
river_df=pd.DataFrame(river_details)

#Print the data frame 
# print(river_details)     #Printing the dictionary 

# print(river_df)          #Printing the dataframe

          Name  Length (km)  Drainage Area (km²)
0       Ganges         2525              1080000
1  Brahmaputra         3848               651334
2       Yamuna         1376               366223
3     Godavari         1465               312812
4      Narmada         1312               131200