## PythonBaics-Day1
### Hydropwer_Engineer_Pulchowk

In [2]:
print("Welcome to the Python course ")

Welcome to the Python course

In [4]:
print("Hello world")

Hello world

Get Input from the user

In [7]:
# Write code to take input from the user 
name=input("Enter your name:")
print(name)

mithu

In [13]:
#F string 
print(f"my name is :-{name}")

my name is :-mithu

In [17]:
type(name)

str

In [ ]:
#data types
name="hari"
age=25
salary=10000.98
is_student=False

In [21]:
type(name)

str

In [22]:
type(age)

int

In [24]:
type(is_student)

bool

In [25]:
type(salary)

float

### Arithmetic Operations 
- addition
- subtraction
-  multiplication
- division

In [26]:
''' Write code to perform arithmetic operations to
 getting input from the user '''

a=input("enter number1: ")
b=input("enter number2:")

In [27]:
type(a)

str

In [29]:
a+b

'56'

In [36]:
#Typecasting 

'''a=input("enter number1: ")
b=input("enter number2:")
'''

num1=int(input("enter number1: "))
num2=int(input("enter number2:"))

In [37]:
num1+num2

9

In [38]:
print(type(num1))
print(type(num2))
type(num1+num2)  # Maathi ko type check garna print haalnu parxa tala pardaina

<class 'int'>
<class 'int'>

int

In [39]:
num1,num2

(4, 5)

In [40]:
#addition
result=num1+num2
result

9

In [41]:
#Subtraction
result=num1-num2
result

-1

In [ ]:
#Division
result=num1/num2
result

0.8

In [46]:
num3=18.9
print(type(num3))

<class 'float'>

In [47]:
int(num3) #Float laai integer ma covert example of typecasting

18

## Part_2
### Control Statement

## Pseudocode
    -teenage=age>=12 and age < 20
    -adult =age >=20

In [51]:
#Explanation of conditional statement
if True:
    print("This is true ")
else:
    print("This is false")

This is true

In [53]:
'''Write a control statement to check whether the given
person is adult or teenager'''

age=int(input("Enter your age : "))
if age<20:
    print("You are a teenager ")
else:
    print("You are an adult")

You are an adult

In [ ]:
# Assignment1 using elif
''' Child < 12 
    teenage >=12 and < 18
    adult >=18 and < 50
    old >=50

'''

### For Loop

In [56]:
# print number 0 to 10 
# range (start,end,jump)
for i in range(0,11,3):
    print(i)

0
3
6
9

In [57]:
for i in range (10): # Default 0 baata start garchha ani jump 1 le gardai janchha 
    print (i)

0
1
2
3
4
5
6
7
8
9

In [58]:
# Printing in the reverse order
for i in range (10,0,-2):
    print(i)

10
8
6
4
2

In [1]:
# Print even numbers between 0 to 10
""" 
0:Even number
1:odd number
"""

for num in range(0,10):
    #check if num is even 
    if num%2==0:
        print(f"{num}:even number")
    else:
        print(f"{num}:odd number")

0:even number
1:odd number
2:even number
3:odd number
4:even number
5:odd number
6:even number
7:odd number
8:even number
9:odd number

In [60]:

"""
Write  program to check which number is divisible by 5 
between 0 and 30

"""

for num in range (0,41):
    if num%5==0:
        print(f"{num} is divisible by 5")

0 is divisible by 5
5 is divisible by 5
10 is divisible by 5
15 is divisible by 5
20 is divisible by 5
25 is divisible by 5
30 is divisible by 5
35 is divisible by 5
40 is divisible by 5

#assignment 2
                                   
                                   
""" Make a calculator 

- get num1,operator and num2 from user input and print result based on operator

"""